# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
.terraform.lock.hcl

# Terraform variable files
*.tfvars
*.tfvars.json

# Environment / secrets
.env
.env.*
*.pem
*.key

# AWS credentials
.aws/

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Node
node_modules/

# ZIP files
*.zip

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db